<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :via %><br />
    <%= f.text_field :via %>
  </div>
  <div class="field">
    <%= f.label :tripdate %><br />
    <%= f.date_select :tripdate, "type" => "date" %> 
   <!-- <input type="date" id="tripdate" value="tripdate" name="tripdate" /> -->
  </div>
  <div class="field">
    <%= f.label :starttime %><br />
    <%= f.time_select :starttime %>
  </div>
  <div class="field">
    <%= f.label :maxriders %><br />
    <%= f.number_field :maxriders %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
