<h1>Look for your trips here..</h1>

<%= form_tag('trips', :method => 'get') do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, "data-inline" => "true" , "data-icon" => "search", "data-iconpos" => "left", "data-theme" => "b" %>
  </p>
<% end %>

<!--<table>
<thead>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Via</th>
    <th>Trip Date</th>
    <th>Start Time</th>
    <th>Max Riders</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

 <tbody> -->
<% @trips.each do |trip| %>
  <ul data-role="listview">
   <!-- <td><%= trip.from %></td>
    <td><%= trip.to %></td>
    <td><%= trip.via %></td>
    <td><%= trip.tripdate %></td>
    <td><%= trip.starttime %></td>
    <td><%= trip.maxriders %></td>
    <td><%= trip.comments %></td> -->
    <li><%= link_to trip.from + '-' + trip.to + '|' + trip.via , trip %></li>
   <!-- <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
    <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    
  </tr>
<% end %>
</tbody>
</table>

<br />

<!--<%= link_to 'New Trip', new_trip_path, "data-inline"=>"true","data-role"=>"button","data-theme"=>"b" %>-->
