<h1>Your Profile</h1>

<!--<table>
  <tr>
    <th>Name</th>
    <th>Birthdate</th>
    <th>Gender</th>
    <th>Profession</th>
    <th>Nationality</th>
    <th>Phonenumber</th>
    <th>Hobbies</th>
    <th>Likes</th>
    <th>Dislikes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>-->

<% @profile1s.each do |profile1| %>
  
<!--    <td><%= profile1.name %></td>
    <td><%= profile1.birthdate %></td>
    <td><%= profile1.gender %></td>
    <td><%= profile1.profession %></td>
    <td><%= profile1.nationality %></td>
    <td><%= profile1.phonenumber %></td>
    <td><%= profile1.hobbies %></td>
    <td><%= profile1.likes %></td>
    <td><%= profile1.dislikes %></td>
    <td><%= link_to 'Show', profile1 %></td> -->
    <p>
  <b>Name:</b>
  <%= profile1.name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= profile1.birthdate %>
</p>

<p>
  <b>Gender:</b>
  <%= profile1.gender %>
</p>

<p>
  <b>Profession:</b>
  <%= profile1.profession %>
</p>

<p>
  <b>Nationality:</b>
  <%= profile1.nationality %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= profile1.phonenumber %>
</p>

<p>
  <b>Hobbies:</b>
  <%= profile1.hobbies %>
</p>

<p>
  <b>Likes:</b>
  <%= profile1.likes %>
</p>

<p>
  <b>Dislikes:</b>
  <%= profile1.dislikes %>
</p>

  <%= link_to 'Edit', edit_profile1_path(profile1), "data-role" => "button", "data-inline" => "true","data-theme" => "a" %></td>
  <!--<%= link_to 'Destroy', profile1, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
 
<% end %>
</table>


<!--<%= link_to ', new_profile1_path % >-->
