<%= form_for(@profile1) do |f| %>
  <% if @profile1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile1.errors.count, "error") %> prohibited this profile1 from being saved:</h2>

      <ul>
      <% @profile1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :profession %><br />
    <%= f.text_field :profession %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality %>
  </div>
  <div class="field">
    <%= f.label :phonenumber %><br />
    <%= f.number_field :phonenumber %>
  </div>
  <div class="field">
    <%= f.label :hobbies %><br />
    <%= f.text_area :hobbies %>
  </div>
  <div class="field">
    <%= f.label :likes %><br />
    <%= f.text_area :likes %>
  </div>
  <div class="field">
    <%= f.label :dislikes %><br />
    <%= f.text_area :dislikes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
