<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile1.name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @profile1.birthdate %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile1.gender %>
</p>

<p>
  <b>Profession:</b>
  <%= @profile1.profession %>
</p>

<p>
  <b>Nationality:</b>
  <%= @profile1.nationality %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= @profile1.phonenumber %>
</p>

<p>
  <b>Hobbies:</b>
  <%= @profile1.hobbies %>
</p>

<p>
  <b>Likes:</b>
  <%= @profile1.likes %>
</p>

<p>
  <b>Dislikes:</b>
  <%= @profile1.dislikes %>
</p>


<%= link_to 'Edit', edit_profile1_path(@profile1) %> |
<%= link_to 'Back', profile1s_path %>
